.outer {
    /* border-width: 1px; */
    height: 60px;
    border-radius: 15px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
}

.decorator {
    position: relative;
    top: 12px;
    left: -12px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    color: white;
    width: 85%;
    height: 25px;
    border-radius: 10px;
    background-color: #3E78C6;
}

.equal-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}