/* MainContent.css */
body {
    font-family: "Roboto" !important;
}

.footer {
    height: 40px !important;
    border-top-width: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease-in-out;
}

.footer:hover{
    height: 60px !important;
}

.container-new {
    max-width: 100vw;
    margin-right: 1% !important;
}

.between {
    margin-bottom: 6%;
}

.main-content {
    padding: 20px;
}

.right-content {
    display: flex;
    align-items: center;
}

.date-time {
    text-align: right;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup-content {
    position: relative;
    padding: 20px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    padding: 0;
}

.popup-content input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}
.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid azure;
    background-color: darkblue;
    margin-bottom: 20px;
    margin-left: auto;
}


.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup1-content {
    text-align: center;
}

.popup1-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup1-message {
    font-size: 24px;
}

.button1 {
    background-color: lightblue;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid white;
}

.button-container button {
    margin-right: 10px;
    background-color: lightblue;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid white;
}


.container-overlay {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup2-content {
    text-align: center;
}

.popup2-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup2-message {
    font-size: 24px;
}

.popup3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup3-content {
    text-align: center;
}

.popup3-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup3-message {
    font-size: 24px;
}

.map-popup {
    width: 500px;
    height: 500px;
    background-color: azure;
    position: absolute;
}

.map-popup-content {
    position: relative;
}

.image-map {
    position: absolute;
    margin-top: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: azure; /* Set the background color to azure */
    z-index: 2;
}

.map-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
