/* MainContent.css */
body {
    font-family: "Roboto" !important;
}

.font {
    font-family: 'Roboto';
    color: #333399;
}

.pagination {
    color: #f0a952;
}

.footer {
    height: 0vh;
    /* max-height: 80% !important; */
    border-top-width: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.footer:hover {
    transform: translateY(-0.25em);
}

.container-new {
    max-width: 100vw;
    margin-right: 1% !important;
}

.between {
    margin-bottom: 6%;
}

.main-content {
    padding: 20px;
}

.right-content {
    display: flex;
    align-items: center;
}

.date-time {
    text-align: right;

}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 10px;
}



.popup-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /*position: relative;
    padding: 20px;
    text-align: center;*/
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.popup-title {
    text-align: Left;
    color: #2B77D1;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid #004689;
    border-radius: 50%;
    cursor: pointer;
    color: #004689;
    padding: 3px;
}

.popup-content input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid azure;
    background-color: #2B77D1;
    margin-bottom: 20px;
    margin-left: auto;
}

.issue-element-display {
    display: flex;
    justify-content: space-between;
}

.issue-location {
    background: #2B77D1;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 16px;
    z-index: 2;
    width: 150px;
}

.issue-name {
    text-align: left;
    background: #F2F4F5;
    padding-left: 45px;
    padding-right: 100px;
    padding-top: 10px;
    margin-left: -20px;
    z-index: 1;
    border-top-right-radius: 16px;
    width: 400px;
}

.issue-type {
    text-align: right;
    font-size: smaller;
    color: #004689;
    font-weight: normal;
    background: #F2F4F5;
    padding-left: 65px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-top: -20px;
    margin-left: -20px;
    border-bottom-right-radius: 16px;
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup1-content {
    text-align: center;
}

.popup1-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid #004689;
    border-radius: 50%;
    cursor: pointer;
    color: #004689;
    padding: 3px;
    font-size: 22px;
}

.popup1-message {
    font-size: 24px;
}


.button1 {
    background-color: lightblue;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid white;
}

.anomaly-button {
    margin-right: 10px;
    background-color: #7DDE86;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #104931;
    width: 100px;
    color: #104931;
}

.rework-button {
    margin-right: 10px;
    background-color: #FFD188;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #A05E03;
    width: 100px;
    color: #A05E03;
}

.scrap-button {
    margin-right: 10px;
    background-color: #FF6D6D;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #C00015;
    width: 100px;
    color: #711711;
}


.container-overlay {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup2-content {
    text-align: center;
}

.popup2-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid #004689;
    border-radius: 50%;
    cursor: pointer;
    color: #004689;
    padding: 3px;
    font-size: 22px;
}

.popup2-message {
    font-size: 24px;
}

.popup3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup3-content {
    text-align: center;
}

.popup3-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid #004689;
    border-radius: 50%;
    cursor: pointer;
    color: #004689;
    padding: 3px;
    font-size: 22px;
}

.popup3-message {
    font-size: 24px;
}

.map-popup {
    width: 700px;
    height: 500px;
    background-color: white;
    position: absolute;
}

.map-popup-content {
    position: relative;
}

.image-map {
    position: absolute;
    margin-top: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: azure;
    /* Set the background color to azure */
    z-index: 2;
}

.map-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}