.arrowLeft {
    height: 10%;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    border-color: #333399;
    background-color: #3e3ecf20;
    transition: transform 0.3s ease-in-out;
}

.arrowLeft:hover,
.arrowLeft:focus {
    box-shadow: 0.5em 0 0.5em -0.4em rgba(0, 0, 0, 0.1);
    transform: translateX(-0.15em);
}

.arrowRight {
    height: 10%;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    border-color: #333399;
    background-color: #3e3ecf20;
    transition: transform 0.3s ease-in-out;
}

.arrowRight:hover,
.arrowRight:focus {
    box-shadow: -0.5em 0 0.5em -0.4em rgba(0, 0, 0, 0.1);
    transform: translateX(+0.15em);
}