.arrowLeft {
    width: 35px;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 4%;
    /* // paddingRight: 4%; */
    border-color: #333399;
    background-color: #d0e4ff7a;
    transition: transform 0.3s ease-in-out;
}

.arrowLeft:hover,
.arrowLeft:focus {
    box-shadow: 0.5em 0 0.5em -0.4em rgba(0, 0, 0, 0.1);
    transform: translateX(-0.15em);
}

.arrowRight {
    width: 35px;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 4%;
    /* // paddingRight: 4%; */
    border-color: #333399;
    background-color: #d0e4ff7a;
    transition: transform 0.3s ease-in-out;
}

.arrowRight:hover,
.arrowRight:focus {
    box-shadow: -0.5em 0 0.5em -0.4em rgba(0, 0, 0, 0.1);
    transform: translateX(+0.15em);
}