.pointer {
    cursor: pointer;
}

.switch {
    position: relative;
    overflow: hidden;
}

.switch span {
    position: relative;
    top: 0px;
}

.switch:hover span {
    transition: all 0.3s ease-out;
    top: -20px;
    color: transparent;
}

.switch span::after {
    content: attr(title);
    display: block;
    opacity: 0;
    position: absolute; /* Add this line */
}

.switch:hover span::after {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    content: attr(title);
    color: #333399;
}

.icon {
    background-color: #d0e4ff7a !important;
}

.icon:hover {
    background-color: #5ca3ff7a !important;
    transition: all 0.2s ease;
    cursor: pointer;
}