/* .stack {
    margin-top: 6%;
} */
.font {
    font-family: 'Roboto';
    color: #333399;
}

.light-blue {
    color: #4949b3;
}

.pagination {
    color: #f0a952;
    /* margin-top: ; */
    border-top-width: 2px;
    border-color: #333399;
}