.stack {
    margin-top: 6%;
}
.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4077c5;
}
.light-blue {
    color: #e4f2ff;
}