.transition-col {
    transition: width 0.4s ease;
}

.sidenav {
    padding-top: 5%;
    transition: width 0.2s ease-in-out;
    height: 100vh;
    background-color: #ffffff;
    border-inline-end-width: 2px;
    border-radius: 15px;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
}

.sidenavClosed {
    composes: sidenav;
    transition: width 0.2s ease-in-out;
}

.sideitem {
    cursor: pointer;
    color: #333399;
    /* color: #d0e4ff7a; */
    text-decoration: none;
}

.linkText {
    opacity: 1;
    display: block;
    transition: opacity 0.6s ease-in;
    font-size: 80%;
}

.linkTextClosed {
    composes: linkText;
    display: none;
    transition: opacity 0.4s ease-out;
    opacity: 0;
    /* font-size: 12pt; */
}

.sideitem:hover {
    background-color: #648fbe33;
}

.logo {
    width: 80%;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}