.sidenav {
    width: 120px;
    transition: width 0.4s ease-in-out;
    height: 100vh;
    background-color: #ffffff;
    padding-top: 28px;
    /* border-top-right-radius: 6%;
    border-bottom-left-radius: 6%;
    border-top-width: 3px; */
    border-inline-end-width: 2px;
    border-radius: 15px;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
}

.sidenavClosed {
    composes: sidenav;
    transition: width 0.4s ease-in-out;
    width: 60px
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #333399;
    /* color: #d0e4ff7a; */
    text-decoration: none;
}

.linkText {
    padding-left: 8px;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in;
    font-size: 10pt;
}

.linkTextClosed {
    composes: linkText;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    /* font-size: 12pt; */
}

.sideitem:hover {
    background-color: #648fbe33;
}

.logo {

    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.open {
    max-width: 160px !important;
    transition: max-width 0.5s ease;
}

.closed {
    max-width: 70px !important;
    transition: max-width 0.5s ease;
}