.sidenav {
    width: 150px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: rgb(10,25,41);
    padding-top: 28px;
}
 
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px
}
 
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
}
 
.linkText {
    padding-left: 16px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in;
  }
  
  .linkTextClosed {
    composes: linkText;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
  }
 
.sideitem:hover {
    background-color: #648fbe33;

}
 
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
    padding: 10px;
}
 
.logo:hover {
    background-color: #244f7d1c;

}

.open {
    max-width: 170px !important;
    transition: max-width 0.5s ease;
}
.closed {
    max-width: 70px !important;
    transition: max-width 0.5s ease;
}